# My Jupyter Notebook on IBM Data Science Experience

**AMAN** Application Developer

_In data science that could be helping a business understand its customers or improving the way it uses its customer data. I get a fantastic feeling of job satisfaction._

### in next cell it will print the table to 5

In [10]:
for i in range(1,11):
    print("5 * %d = %d " % (i,5*i))

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

* item1
* item2

Name  | City
---- | ---------
Ram  | Delhi
Shyam  | Bangalore

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4RPFl9OsqKtx424rJBnqc6omtFWpkt8f1bmOTntfbRDUfWRS4" width="200" height = "100" >